@{
  Layout = "_Layout";
}

<h1>Welcome to Eau Clarie's Salon's stylist and client tracking stysem!</h1>
<p>All clients are assigned to a specific stylist. To add, view, edit, or delete a client, one must first navigate to the assigned stylist.</p>
<p>@Html.ActionLink("See all stylists", "Index", "Stylists")</p>